body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px;
    background-color: #4CA1AF;
    height: 50px;
}

h1, h2 {
    color: #333;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color:#ec380b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0a0a0a;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #fcf9f8;
}

a:hover {
    text-decoration: underline;
}

.container{
    background-color: #b8b5b0;


}